* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-background-color: #000000;
    --secondary-background-color: #FFFFFF;

    --primary-color: #FFFFFF;
    --secondary-color: #000000;

    --primary-accent-color: green;
    --secondary-accent-color: red;
    --tertiary-accent-color: blue;

    --dull-color: rgb(180.54, 180.54, 180.54);
    --dull-background-color: rgb(30, 30, 30);

    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --font-size-extra-small: 0.75rem;
    --font-size-small: 0.875rem;
    --font-size-medium: 3rem;
    --font-size-large: 3.8rem;
    --font-size-extra-large: 4.5rem;

    --global-border-radius: 0.65rem;
}

/* Utitlity classes */
.text-small {
    font-size: var(--font-size-small);
    line-height: 1.43;
}

.text-medium {
    font-size: var(--font-size-medium);
    line-height: 1;
}

.text-large {
    font-size: var(--font-size-large);
    line-height: 1;
}

.text-extra-large {
    font-size: var(--font-size-extra-large);
    line-height: 1;
}

.text-muted-color {
    color: var(--dull-color);
}

.blue-accent {
    color: var(--tertiary-accent-color);
    font-size: 1rem;
    font-weight: 600;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-color);
    font-family: var(--font-sans);
    overflow-x: hidden;
}

.main-container {
    position: relative;
    min-height: 100vh;
}

/* BASE MOBILE SCREEN */
main {
    padding: 0 1.5rem;
    line-height: normal;
}

/* Navigation-bar */
nav {
    display: none;
}

.nav-right {
    display: none;
}

nav .items {
    cursor: pointer;
}

.nav-name {
    font-weight: 600;
}

/* Hero section */
header {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.hero-section {
    width: 100%;
    display: grid;
    gap: 4rem;
}

.hero-left {
    .head {
        margin-bottom: 2rem;
    }

    .full-name {
        font-size: 2.2rem;
        font-weight: 600;
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .roles {
        font-family: var(--font-mono);
        display: flex;
        flex-direction: column;
        gap: 0.4rem;

        .dot {
            display: none;
        }
    }

    .body {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .about-me span {
            color: var(--primary-color);
        }
    }

    .call-to-action {
        display: flex;
        flex-wrap: wrap;
        gap: 0.8rem;

        .items {
            padding: 0.5rem 1rem;
            color: var(--primary-color);
            text-decoration: none;
            background-color: var(--dull-background-color);
            border-radius: var(--global-border-radius);
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            white-space: nowrap;

            svg {
                width: 1rem;
                height: 1rem;
            }
        }

        .resume {
            background-color: var(--secondary-background-color);
            color: var(--secondary-color);
        }
    }
}

.hero-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.6rem;

    .title {
        font-family: var(--font-mono);
        color: var(--dull-color);
    }

    .head,
    .title {
        margin-bottom: 1rem;
    }

    .flow {
        .body {
            .sub-title {
                margin-bottom: 0.8rem;
            }

            .desc {
                span {
                    color: var(--dull-color);
                }
            }
        }
    }

    .focus {
        .capsules {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;

            .items {
                font-size: var(--font-size-extra-small);
                padding: 0.25rem 0.75rem;
                background-color: var(--dull-background-color);
                border-radius: 0.4rem;
            }
        }
    }

}


/* Media queries */

/* Tablets and small laptops (480px - 768px) */
@media screen and (min-width: 480px) {
    main {
        padding: 0 6rem;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 0;
    }

    header {
        min-height: 90vh;
    }
}

/* Tablets and small laptops (769px - 1024px) */
@media screen and (min-width: 768px) {
    main {
        padding: 0 10rem;
    }

    nav {
        padding: 2rem 0;

        .nav-right {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 2rem;
        }
    }

    .hero-section {
        gap: 4rem;
    }
}

/* Large desktops and high-resolution screens (1025px and up) */
@media screen and (min-width: 1025px) {
    .nav-right {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 2.5rem;
    }

    .hero-section {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-left {
        .roles>* {
            white-space: nowrap;
        }

        .roles {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;

            .dot {
                display: block;
                font-weight: 800;
            }
        }
    }
}

/* Extra-large screens (1440px and up) */
@media screen and (min-width: 1440px) {
    main {
        padding: 0 25rem;
    }

    .nav-right {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 4rem;
    }
}